@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    /*PRIMARY*/
    --light-red: hsl(356, 100%, 66%); /*text*/
    --verlight-red: hsl(355, 100%, 74%); /*(hover background)*/
    --verdark-blue: hsl(208, 49%, 24%); /*Headings*/

    /*NEUTRAL*/
    --grays-blue: hsl(240, 2%, 79%);/*footer text*/
    --verdarkg-blue: hsl(207, 13%, 34%);
    --verdarkb-blue: hsl(240, 10%, 16%); /*footer bg*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media {
    
}